.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.logo-text{
  width: 100px;
}
.bi{
  margin-right: 10px;
}
.story{
  height: 70px;
  padding: 10px;
}
.db{
  height: 20px;
  width: 20px;
  margin-top: 6px;
  margin-right: 6px;
}
.image{
  width: 400px;
}

.suggestion h5{
  font-size: 16px;
}

.suggestion .db{
  margin-top: 0px !important;
} 
.gradient-border {
  margin-top: 5px;
  /* margin-bottom: 15px; */
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff, #ff6600, #ffcc00);
}


.story-dp {
  width: 55px;
  height: 55px;
}

.profile {
  width: 100px;
  height: 100px;
}

.home {
  margin-top: 50px;
  text-align: center;
} 

.arrow{
  font-size: 60px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: 2px solid ;
  padding: 3px;
  width: 100px;
  background-color: lightgrey;
}

.ms{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.btn3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: #0095f6;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.pf{
  font-size: 90px;
  position: absolute;
  top: 15%;
  left: 20%;
  /* transform: translateX(-50%); */
  cursor: pointer;
  color: grey;
  /* border: 2px solid black; */
}
.note{
  position: absolute;
  top: 16%;
  left: 20%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 15px;
  color: grey;
  border: 2px solid grey;
  background-color: whitesmoke;
  shape-outside: margin-box;
}

.txt{
  position: absolute;
  top: 35%;
  left: 21%;
  font-size: 13px;
  color: grey;
}

.bi-1{
  font-size: 30px;
  /* color: grey; */
  padding-left: 20%;
  margin-top: 30px;
}

.input{
  width: 400px;
  margin-top: 20px;
  margin-left: 20%;
}

.unfollow{
  margin-left: auto;
}